extends layout

block title
  = "shmile"

block content
  section#viewport
    button#start-button.awesome.superlarge.boinkyellow Start
    <audio id="say-cheese"><source src="audio/say-cheese.mp3" type="audio/mpeg"></audio>
